@import "src/assets/global-scss.scss";

#main-header {
  position: fixed;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 10vh;

  padding: 32px;

  background-color: $bg01;
  z-index: 500;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.menu-burger {
  display: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#main-menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: 20px;
}

#mobile-menu {
  display: none;
  justify-content: space-between;
  gap: 20px;
}

#main-menu a {
  text-decoration: none;
  color: #fff;

  white-space: nowrap;
}

#main-menu a:hover {
  color: $color01;
}

.menu-close {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;

  width: 100vw;
  height: 100px;

  background-color: #141d2f;
}

.menu-close img:hover {
  filter: drop-shadow(0 0 8px #fff);
}

.lang-button {
  width: 36px;
  height: 24px;
  border-radius: 5px;
}

.lang-button:hover {
  filter: drop-shadow(0 0 8px #fff);
}

.lang-button-mobile {
  width: 72px;
  height: 48px;
  margin-top: 32px;
}

button{
  width: 30px !important;
}

.cv{
  display: flex;
  margin-left: -24px;
    margin-right: -24px;
}

.input {
  display: block;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
  width: 60px;
}

.a-02{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.lang-button-mobile:hover {
  filter: drop-shadow(0 0 8px #fff);
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {
  .menu-burger {
    display: flex;
  }

  #main-menu {
    display: none;
  }

  #mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    padding: 24px 48px;

    background-color: rgba($color: #000000, $alpha: 1.0);
    font-size: 25px;
  }

  .menu-close {
    display: flex;
  }
}
