<section>
  <div id="section-about" style="position: absolute; top: -140px"></div>
  <div class="title-line title-right">
    <div class="bg-line width-20p"></div>
    <h2 class="dark-bg">
      <span *ngIf="gs.lang == 'eng'">About Me</span>
      <span *ngIf="gs.lang == 'ger'">Über mich</span>
    </h2>
    <div class="bg-line width-40p"></div>
  </div>
  <div class="section-area-about">
    <div class="about-01 content-width">
      <div class="about-01-01">
        <span *ngIf="gs.lang == 'eng'"
          >As a frontend developer from Zurich, <br>
          I specialize in HTML, CSS, Javascript, Typescript and Angular. <br />
          With a commitment to writing clean and a keen eye for good design, <br>
          I bring creativity and technical expertise to every project.
        </span>
        <span *ngIf="gs.lang == 'ger'"
          >Hallo, ich bin ein Frontend Entwickler aus Zürich und habe <br>
          mich auf HTML, CSS, Javascript, Typescript und Angular spezialisiert. <br />
          Mit Fokus auf sauberen Code und perfektem Design bringe ich <br>
          Kreativität und technisches Fachwissen in jedes Projekt ein.
        </span>
        <div class="benefit-container center">
          <img class="icon-benefit" src="./assets/icons/bulb_green.png" alt=""/>
          <span *ngIf="gs.lang == 'eng'">
            My passion is programming, which is why I specialize in web development. <br>
            My goals are user-friendly websites that have functionality and <br>
            Seamlessly combine aesthetics.
          </span>
          <span *ngIf="gs.lang == 'ger'"
            >Meine Leidenschaft ist es zu Programmieren weshalb ich mich auf die <br>
            Web-Entwicklung spezialisiert habe. Meine Ziele sind benutzerfreundliche <br>
            Websites, die Funktionalität und Ästhetik nahtlos miteinander verbinden.
            </span>
        </div>
        <div class="benefit-container center">
          <img class="icon-benefit center" src="./assets/icons/puzzle_green.png" alt=""/>
          <span *ngIf="gs.lang == 'eng'"
            >I thrive on solving ideas into reality. Whether it's optimizing <br>
            website performance or implementing innovative features.
          </span>
          <span *ngIf="gs.lang == 'ger'">
            Ich liebe es, Ideen in die Realität umzusetzen, sei es durch die <br>
            Optimierung der Leistung einer Website oder die Implementierung <br>
            innovativer Funktionen.
          </span>
        </div>
      </div>
    </div>
    <div class="about-02">
      <div class="about-02-01">
        <img class="profile" src="./assets/yv_profile/profile_01_cut_effect.png" alt="" />
      </div>
      <div>
        <img 
          class="profile-shadow" src="./assets/shadows/shadow_01.png" alt="" />
      </div>
    </div>
    
  </div>
  <div>
    <img 
      class="shadow" src="./assets/shadows/Vector.png" alt="" />
  </div>
</section>
