<section>
  <div id="section-about" style="position: absolute; top: -140px"></div>
  <div class="title-line title-right">
    <div class="bg-line width-20p"></div>
    <h2 class="dark-bg">
      <span *ngIf="gs.lang == 'eng'">About Me</span>
      <span *ngIf="gs.lang == 'ger'">Über mich</span>
    </h2>
    <div class="bg-line width-40p"></div>
  </div>
  <div class="section-area-about">
    <div class="about-01 content-width">
      <div class="about-01-01">
        <span *ngIf="gs.lang == 'eng'"
          >Hello, my name is Yannick and I am a Frontend Developer from Zurich.
          I studied Web Development with a focus on HTML, CSS, Javascript, Typescript and Angular.
        </span>
        <span *ngIf="gs.lang == 'ger'"
          >Hallo, ich heisse Yannick und bin ein Frontend Entwickler aus Zürich. 
          In meinen letzten Weiterbildungen, habe ich mich auf
          HTML, CSS, Javascript, Typescript und Angular spezialisiert.
        </span>
        <div class="benefit-container center">
          <img class="icon-benefit" src="./assets/icons/bulb_green.png" alt=""/>
          <span *ngIf="gs.lang == 'eng'">
            My passion is programming, which is why I specialize in Web Development. <br>
            My goals are user-friendly websites that have functionality and <br>
            Seamlessly combine aesthetics.
          </span>
          <span *ngIf="gs.lang == 'ger'"
            >Meine Leidenschaft ist das Programmieren von Webseiten und Apps, weshalb ich mich auf die 
            Web-Entwicklung spezialisiert habe. Meine Ziele sind benutzerfreundliche 
            Websites, die Funktionalität und Ästhetik nahtlos miteinander verbinden.
            </span>
        </div>
        <div class="benefit-container center">
          <img class="icon-benefit center" src="./assets/icons/puzzle_green.png" alt=""/>
          <span *ngIf="gs.lang == 'eng'"
            >I thrive on solving ideas into reality. Whether it's optimizing 
            website performance or implementing innovative features.
          </span>
          <span *ngIf="gs.lang == 'ger'">
            Ich liebe es, neue Ideen in die Realität umzusetzen. Sei es durch die 
            Optimierung der Leistung einer Website oder die Implementierung 
            innovativer Funktionen.
          </span>
        </div>
      </div>
    </div>
    <div class="about-02">
      <div class="about-02-01">
        <img class="profile" src="./assets/yv_profile/profile_01_cut_effect.png" alt="" />
      </div>
      <div>
        <img 
          class="profile-shadow" src="./assets/shadows/shadow_09.png" alt="" />
      </div>
    </div>
    
  </div>
  <div>
    <img 
      class="shadow" src="./assets/shadows/Vector.png" alt="" />
  </div>
</section>
