<section>
  <div id="section-skills" style="position: absolute; top: -140px"></div>
  <div class="title-line">
    <div class="bg-line width-40p"></div>
    <h2 class="dark-bg">Skills</h2>
    <div class="bg-line width-20p"></div>
  </div>

  <div class="section-area">
    <div class="content-width">
      <div class="text-block">
        <p>
          <span *ngIf="gs.lang == 'eng'">
            I have grown my frontend developments skills that have allowed me to
            create different real projects.
          </span>
          <span *ngIf="gs.lang == 'ger'">
            Meine erworbenen Frontend-Fähigkeiten haben es mir ermöglicht,
            verschiedene reale Projekte umzusetzen.
          </span>
        </p>
      </div>

      <div id="skill-list">
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_angular.png" alt="" />
          <span>Angular</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_typescript.png" alt="" />
          <span>Typescript</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_javascript.png" alt="" />
          <span>Javascript</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_html.png" alt="" />
          <span>HTML 5</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_css.png" alt="" />
          <span>CSS 3</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_git.png" alt="" />
          <span>Git</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_api.png" alt="" />
          <span>Rest API</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_scrum.png" alt="" />
          <span>Scrum</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_firebase.png" alt="" />
          <span>Firebase</span>
        </div>
        <div class="skill-element">
          <img src="./assets/skill_icons/skill_materialdesign.png" alt="" />
          <span>Material Design</span>
        </div>
      </div>
    </div>
  </div>
</section>
